body {
  margin: 0px;
  color: #ddd;
  background-color: #1b1a1a;
  display: flex;
  flex-flow: column;
  height: -webkit-fill-available;
}

h1 {
  text-align: center;
  flex: 0 0 42px;
}

.page-content {
  flex: 1;
  display: flex;
  flex-flow: row;
}

.left-pane {
  display: flex;
  flex-flow: column;
  flex: 0 0 100px;
  padding: 10px;
}

.content {
  flex: 1;
  padding: 10px;
}
